---
import Base from "./Base.astro";
import PageHeader from "@components/PageHeader.astro";
import TableOfContent from "@components/TableOfContent.astro";
import OnThisArticle from "@components/OnThisArticle.astro";
const { frontmatter, collection, slug, headings } = Astro.props;
const liveUrl = Astro.url.pathname;

let filePath;
if (collection && slug) {
  filePath = `src/content/${collection}/${slug}`;
} else {
  filePath = `src/pages${liveUrl}.md`;
}

import { getTableOfContents } from "../utils/toc";
import type { MarkdownHeading } from "astro";
const tocData = getTableOfContents("release-notes/toc");

import CollapseList from "../components/CollapseList.tsx";

// type Props = {
//   headings : MarkdownHeading[]
// }
---

<Base metadata={frontmatter}>
  <div class="sticky top-[77px]">
    <PageHeader liveUrl={liveUrl} filePath={filePath} metadata={frontmatter} />
  </div>
  <article class="w-full pt-1 article">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-0">
      <nav class="bg-lightTealGray lg:col-span-3 p-12">
        <!-- <p class="text-lg font-semibold mb-2">Table of Contents</p> -->
        <TableOfContent collection={collection} data={tocData} />
        <!-- <CollapseList client:only="react" items={tocData.items} /> -->
        <!-- {console.log(tocData.items)} -->
      </nav>

      <main
        class="lg:col-span-7 p-8 prose max-w-none prose-headings:font-normal"
      >
        <!-- <p>Written by {frontmatter.author}</p> -->
        <!-- <p><em>{frontmatter.description}</em></p> -->
        <!-- <p>Published on: {frontmatter.date}</p> -->
        <!-- <h1 class="text-green-700">{frontmatter.title}</h1> -->
        <slot />
      </main>

      <aside
        class="md:col-span-2 pt-12 px-6 hidden lg:block h-screen sticky top-32"
      >
        <OnThisArticle headings={headings} />
      </aside>
    </div>
  </article>
</Base>
